In [6]:
zxc = 456 + 100 # Salary

In [7]:
zxc = zxc + 100

In [9]:
5 / 10

0.5

In [10]:
5 // 10

0

In [11]:
16 % 5

1

In [12]:
2 ** 3

8

In [15]:
2.3 * 5 / 0.7

16.42857142857143

In [29]:
s = "Hello"

In [31]:
s + " World"

'Hello World'

In [32]:
s * 5

'HelloHelloHelloHelloHello'

In [34]:
f = False
t = True

In [35]:
print(f, t)

False True

In [66]:
age = 50
salary = 150000
is_married = False
number_of_children = 1
desired_amount = 10000000

In [96]:
age_check = age < 25 or age > 65
alimony_check = not is_married and number_of_children > 0
salary_check = 12 * salary / 3 > desired_amount
if age_check or alimony_check or salary_check:
    print("No")
else:
    print("YES")

No

In [95]:
if True:
    print(1)

1

In [79]:
age = 70
age < 25 or age > 65

True

In [91]:
a = 5
a != 5

False

In [85]:
etert = 5

True

In [104]:
age = 1900
if age % 400 == 0 or age % 4 == 0 and age % 100 != 0:
    print("Yes")
else:
    print("No")

No

In [110]:
a, b, c = 5, 5, 2
if a >= b and a >= c:
    print(a)
elif b >= a and b >= c: #elif == else if
    print(b)
else:
    print(c)

5

In [120]:
f0 = 0
f1 = 1
for i in range(100):
    fnew = f0 + f1
    f0 = f1
    f1 = fnew
    print(f0)

1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946
17711
28657
46368
75025
121393
196418
317811
514229
832040
1346269
2178309
3524578
5702887
9227465
14930352
24157817
39088169
63245986
102334155
165580141
267914296
433494437
701408733
1134903170
1836311903
2971215073
4807526976
7778742049
12586269025
20365011074
32951280099
53316291173
86267571272
139583862445
225851433717
365435296162
591286729879
956722026041
1548008755920
2504730781961
4052739537881
6557470319842
10610209857723
17167680177565
27777890035288
44945570212853
72723460248141
117669030460994
190392490709135
308061521170129
498454011879264
806515533049393
1304969544928657
2111485077978050
3416454622906707
5527939700884757
8944394323791464
14472334024676221
23416728348467685
37889062373143906
61305790721611591
99194853094755497
160500643816367088
259695496911122585
420196140727489673
679891637638612258
1100087778366101931
1779979416004714189
2880067194370816120
4660046610375530309
7540113804746346429
12200160415121876738
19740274219868223167
31940434634990099905
51680708854858323072
83621143489848422977
135301852344706746049
218922995834555169026
354224848179261915075

In [122]:
from_n, to_n, step = 1, 100, 3
for i in range(from_n, to_n, step):
    print(i)

1
4
7
10
13
16
19
22
25
28
31
34
37
40
43
46
49
52
55
58
61
64
67
70
73
76
79
82
85
88
91
94
97

In [125]:
n = 0
n = n + i