In [12]:
h1, m1, s1 = 1, 1, 1
h2, m2, s2 = 2, 2, 2

In [14]:
(h2 * 60 * 60 + m2 * 60 + s2) - (h1 * 60 * 60 + m1 * 60 + s1)

3661

In [15]:
a = 4554

In [16]:
a1 = a // 1000 % 10
a2 = a // 100 % 10
a3 = a // 10 % 10
a4 = a // 1 % 10
print((a1*10+a2) - (a4*10+a3) + 1)

1

In [34]:
x1, y1 = 3, 4
x2, y2 = 5, 6

In [35]:
if x1 == x2:
    print("Yes")
elif y1 == y2:
    print("Yes")
elif abs(x1-x2) == abs(y1-y2):
    print("Yes")
else:
    print("No")

Yes

In [50]:
a = 12
found = False
for i in range(2, a+1):
    if a%i == 0 and not found:
        found = True
        print(i)

2

In [56]:
a = 4
s = 1
for i in range(1, a + 1):
    s = s * i
print(s)

24

In [58]:
counter_0 = 0
for i in range(10):
    n = int(input())
    if n == 0:
        counter_0 = counter_0 + 1
print(counter_0)

345
345
345
567
0
567
0
657
0
45
3

In [81]:
a = [1234]

In [82]:
for i in range(len(a)):
    print(a[i])

1234

In [83]:
for i in a:
    print(i)

1234

In [80]:
a = [1, 2234,234,23,4 ,234,23, 4]

In [84]:
# Task 1 - Sum, average of list
# Task 2 - Local maximums (больше, чем оба соседа)
# Task 3 - Есть ли простые числа в массиве

In [90]:
a = [1,2,7,4,5,4,3,2,4,5,1]
s = 0
for i in a:
    s += i #s = s + i
print("Sum: ", s)
print("Average: ", s / len(a))

Sum:  38
Average:  3.4545454545454546

In [91]:
for i in range(1, len(a)-1):
    if a[i] > a[i+1] and a[i] > a[i-1]:
        print(a[i])

7
5
5

In [102]:
a = [4,6,4,4,6,4,4,8,4,4,10]
for i in a:
    is_prime = True
    for div in range(2, int(i**(0.5)+1)):
        if i%div==0:
            is_prime = False
            break
    if is_prime:
        print("Yes")
        break
if not is_prime:
    print("No")

No

In [112]:
d1 = {
    "age": 25,
    "salary": 150000,
    "name": "John",
    "children": [{"name": "Masha", "age": 15}, {"name": "John", "age": 5}],
    "job": "sdfsadfasdf"
}
d2 = {
    "age": 12,
    "salary": 0,
    "name": "Masha",
    "children": [],
    "job": "School"
}
d3 = {
    "age": 17,
    "salary": 50000,
    "name": "Vasya",
    "children": [],
    "job": "Recruit"
}

In [120]:
s="Маша сказала: \"Привет\""
s='Маша сказала: "Привет"'

'Маша сказала: "Привет"'

In [119]:
for i in a:
    print(i['name'], "-", i['age'], "years", "-", 
          len(i['children']), "children")

John - 25 years - 2 children
Masha - 12 years - 0 children
Vasya - 17 years - 0 children

In [131]:
a = [i**2 for i in range(15) if i%2==0]

In [135]:
print(sum(a), max(a), min(a))

560 196 0

In [141]:
a = [d1, d2, d3]
salaries_with_children = [i['salary'] for i in a if i['children']]
sum(salaries_with_children) / len(salaries_with_children)

150000.0

In [182]:
def f(n):
    a = n['salary']+5000
    return a
list(map(f, a))

[165000, 15000, 65000]

In [181]:
def f(n):
    a = n['salary']**2
    return a

In [176]:
for i in range(10):
    print(f(i))

0
1
4
9
16
25
36
49
64
81

In [177]:
x = f(5)

In [174]:
x